@use "@angular/material" as mat;

.mat-elevation-z8 {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  overflow: hidden;
  border-radius: 15px;

  @include mat.table-overrides(
    (
      background-color: #1d4b5c,
      header-headline-color: #fffafa,
      header-headline-font: gabarito,
      row-item-label-text-color: #fffafa,
      row-item-label-text-font: gabarito,
    )
  );
}

a {
  color: #fffafa;
}