.main-content {
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #dad2d8;
  color: #1d4b5c;
}

.download-button {
  margin-top: 20px;
}
