@use '@angular/material' as mat;

div {
    color: black;
}

mat-card-content {
    color: black
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.summary-mat-card {
    background-color: #1d4b5c;
}

.summary-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}

.summary {
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color: #FFFAFA;
    font-family: gabarito;
}

.abstract-vuln-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 25px;
    color: #FFFAFA
}

.crit-vuln-summary {
    @extend .abstract-vuln-summary;
    border: 8px solid #FF3838;
}

.high-vuln-summary {
    @extend .abstract-vuln-summary;
    border: 8px solid #FFB302;
}

.medium-vuln-summary {
    @extend .abstract-vuln-summary;
    border: 8px solid #d7c631;
}

.low-vuln-summary {
    @extend .abstract-vuln-summary;
    border: 8px solid #58b625;
}

.none-vuln-summary {
    @extend .abstract-vuln-summary;
    border: 8px solid #2492b7;
}

.unknown-vuln-summary {
    @extend .abstract-vuln-summary;
    border: 8px solid #A4ABB6;
}

.mat-elevation-z8 {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  overflow: hidden;
  border-radius: 15px;

  @include mat.table-overrides((
    background-color: #1d4b5c,
    header-headline-color: #FFFAFA,
    header-headline-font: gabarito,
    row-item-label-text-color: #FFFAFA,
    row-item-label-text-font: gabarito
  ));
}

a {
    color: #FFFAFA;
}