@use '@angular/material' as mat;

.mat-elevation-z8 {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  overflow: hidden;
  border-radius: 15px;

  @include mat.table-overrides((
    background-color: #1d4b5c,
    header-headline-color: #FFFAFA,
    header-headline-font: gabarito,
    row-item-label-text-color: #FFFAFA,
    row-item-label-text-font: gabarito
  ));
}
