@use '@angular/material' as mat;

.mat-elevation-z8 {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  overflow: hidden;
  border-radius: 15px;

  @include mat.table-overrides((
    background-color: #2d5a77,
    header-headline-color: #D7D7D7,
    header-headline-font: gabarito,
    row-item-label-text-color: #D7D7D7,
    row-item-label-text-font: gabarito
  ));
}
