<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer class="sidenav-content" mode="over">
    <mat-list class="page-list">
      <mat-list-item routerLink="/vulnreport">Vulnerability Reports</mat-list-item>
      <mat-list-item routerLink="/sbomreport">SBOM Reports</mat-list-item>
      <mat-list-item>RBAC Assessment</mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="main-content">
    <header>
      <mat-icon class="menu-icon" (click)="drawer.toggle()">menu</mat-icon>
      Sbom Reports
    </header>

    @if (reportsLoading) {
      <mat-spinner></mat-spinner>
    }

    <div [hidden]="reportsLoading" class="mat-elevation-z8">
      <mat-form-field class="namespace-filter">
        <mat-label>Namespace</mat-label>
        <mat-select (selectionChange)="filterNamespace($event)" [(value)]="namespace">
          @for (ns of namespaces; track ns) {
          <mat-option value="{{ns}}">{{ns}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="name-filter">
        <mat-label>Filter by image name</mat-label>
        <input matInput [(ngModel)]="imageFilter" (keyup)="filterTable($event)" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="saveSortDirection($event)">
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>Image</th>
          <td routerLink="{{element.uid}}" mat-cell *matCellDef="let element">
            <p class="image-value">{{element.image}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="componentsCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
            Number of components
          </th>
          <td mat-cell *matCellDef="let element">{{element.componentsCount}}</td>
        </ng-container>

        <ng-container matColumnDef="dependenciesCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
            Number of dependencies
          </th>
          <td mat-cell *matCellDef="let element">{{element.dependenciesCount}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of vulnerability reports"></mat-paginator>
    </div>
  </div>

</mat-drawer-container>