@use "@angular/material" as mat;

.menu-icon {
  position: absolute;
  top: 35px;
  left: 30px;
  color: #fffafa;
  cursor: pointer;
}

.main-container {
  width: 100%;
  height: 100%;
  background-color: #dad2d8;
}

.sidenav-content {
  background-color: #1d4b5c;
  padding: 20px;
  width: 250px;
  border-radius: 0%;

  @include mat.list-overrides(
    (
      list-item-label-text-font: gabarito,
      list-item-supporting-text-font: gabarito,
      list-item-label-text-color: #fffafa,
      list-item-supporting-text-color: #fffafa,
      list-item-hover-label-text-color: #fffafa,
      list-item-focus-label-text-color: #fffafa,
      list-item-focus-state-layer-opacity: 0,
    )
  );
}

.list-item {
  text-decoration: underline;
  cursor: pointer;
}
